Repository kubeflow/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

uv-lock-check:
  name: uv lock check
  entry: uv lock --check
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix --force-exclude
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  ...

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

Add hbelmiro to approvers list in OWNERS file
  OWNERS
Due: none

fix(scripts): handle empty metadata.yaml in check_component_freshness
  scripts/check_component_freshness/check_component_freshness.py
  scripts/check_component_freshness/tests/test_check_component_freshness.py
Due: ruff-format, ruff-check

Reject future metadata verification dates
  scripts/validate_metadata/tests/test_validate_metadata.py
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check

fix(scripts): handle empty metadata.yaml in check_component_freshness. Fixes #198 (#199)
  scripts/check_component_freshness/check_component_freshness.py
  scripts/check_component_freshness/tests/test_check_component_freshness.py
Due: ruff-format, ruff-check

fix: reject future metadata verification dates (#200)
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_ci.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_ci_category.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_ci_dependency_probe.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_dependencies_category.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_dependencies_type.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_dependency_semantic_versioning.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/invalid_tag_array_type.yaml
  scripts/validate_metadata/tests/resources/metadata/invalid/missing_kfp_dependency.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/custom_links_category.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/excluding_ci.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/excluding_ci_dependency_probe.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/excluding_ext_dependencies.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/excluding_links.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/excluding_tags.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/missing_ci_dependency_probe.yaml
  scripts/validate_metadata/tests/resources/metadata/valid/valid_metadata.yaml
  scripts/validate_metadata/tests/test_validate_metadata.py
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check, yamllint

fix: allow pytest to run in git worktrees (#201)
  __init__.py
Due: ruff-format, ruff-check

Path conditions:
  uv-lock-check: any of: (^pyproject\.toml$|^uv\.lock$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/[^/]+(/[^/]+)?/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/.+/(component|pipeline)\.py$
