Repository kubeflow/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock check
        entry: uv lock --check
        language: system
        files: (^pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        # --force-exclude respects pyproject.toml excludes when files are passed directly
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        # --force-exclude respects pyproject.toml excludes when files are passed directly
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          asset_dirs="";
          for file in "$@"; do
            d=$(dirname "$file");
            while [[ "$d" == components/* || "$d" == pipelines/* ]]; do
              if [ -f "$d/component.py" ] || [ -f "$d/pipeline.py" ]; then
                asset_dirs="$asset_dirs $d";
                break;
              fi;
              d=$(dirname "$d");
            done;
          done;
          asset_dirs=$(echo "$asset_dirs" | xargs -n1 2>/dev/null | sort -u | xargs);
          if [ -n "$asset_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $asset_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          asset_dirs="";
          for file in "$@"; do
            dir=$(dirname "$file");
            if [[ "$dir" == components/*/* || "$dir" == pipelines/*/* ]]; then
              asset_dirs="$asset_dirs $dir";
            fi;
          done;
          asset_dirs=$(echo "$asset_dirs" | xargs -n1 2>/dev/null | sort -u | xargs);
          for dir in $asset_dirs; do
            echo "Validating metadata for $dir";
            uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+(/[^/]+)?/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            dir=$(dirname "$file");
            if [[ "$file" == components/*/component.py ]]; then
              components+=("--component" "$dir");
            elif [[ "$file" == pipelines/*/pipeline.py ]]; then
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/.+/(component|pipeline)\.py$

improve READMEs, fix mocking in unit tests for models selection, use context manager for opening file
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_models_selection/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

improve data processing component, minor improvements; Assisted-by: Cursor
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_local.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_unit.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/test_component_unit.py
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

ci: Add logging and improve polling behavior in CI checks
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
  .github/workflows/ci-checks.yml
Due: ruff-format, ruff-check, yamllint

ci: Set GITHUB_TOKEN in scripts-tests workflow for authentication
  .github/workflows/scripts-tests.yml
Due: yamllint

move train_test_split logic to data_loader; Assisted-by: Claude
  components/data_processing/automl/README.md
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/tests/mocked_pandas.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/automl/tabular_train_test_split/__init__.py
  components/data_processing/automl/tabular_train_test_split/component.py
  components/data_processing/automl/tabular_train_test_split/metadata.yaml
  components/data_processing/automl/tabular_train_test_split/tests/__init__.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_local.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_unit.py
  components/training/automl/autogluon_models_selection/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

refactor train_test_split component, reduce datasets saved in S3; Assisted-by: Cursor
  components/data_processing/automl/README.md
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/automl/tabular_train_test_split/component.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_unit.py
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/component.py
  components/training/automl/autogluon_models_selection/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

ci: Ensure required labels exist in CI workflow
  .github/workflows/add-ci-passed-label.yml
Due: yamllint

ci: Update Python version in CI workflow to 3.11
  .github/workflows/ci-checks.yml
Due: yamllint

ci: Remove custom Python setup step from CI workflow
  .github/workflows/ci-checks.yml
Due: yamllint

Add Konflux Dockerfile for AutoML component
  Docker.konflux.automl
Due: none

ci: Update workflow run pagination logic in approval workflow
  .github/workflows/gh-workflow-approve.yml
Due: yamllint

ci: Update permissions in CI workflow to include `issues: write`
  .github/workflows/ci-checks.yml
Due: yamllint

ci: Add tests for paginated check-runs and update API logic
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
Due: ruff-format, ruff-check

fix: automl packaging and read notebooks from ipynb (#65)
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_full_refit/notebook_templates/__init__.py
  components/training/automl/autogluon_models_full_refit/notebook_templates/classification_notebook.ipynb
  components/training/automl/autogluon_models_full_refit/notebook_templates/regression_notebook.ipynb
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

Update .github/workflows/ci-checks.yml
  .github/workflows/ci-checks.yml
Due: yamllint

chore: use embedded_artifact_path instead of git url via package_to_install for shared module
  components/training/README.md
  components/training/finetuning_algorithms/lora/component.py
  components/training/finetuning_algorithms/osft/component.py
  components/training/finetuning_algorithms/sft/component.py
  pipelines/training/README.md
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

feat: Adding LoRA component and pipelines
  components/training/lora/OWNERS
  components/training/lora/README.md
  components/training/lora/__init__.py
  components/training/lora/component.py
  components/training/lora/metadata.yaml
  components/training/lora/tests/__init__.py
  components/training/lora/tests/test_component_unit.py
  components/training/osft/component.py
  pipelines/training/lora/OWNERS
  pipelines/training/lora/README.md
  pipelines/training/lora/__init__.py
  pipelines/training/lora/metadata.yaml
  pipelines/training/lora/pipeline.py
  pipelines/training/lora/tests/__init__.py
  pipelines/training/lora/tests/test_pipeline.py
  pipelines/training/lora_minimal/OWNERS
  pipelines/training/lora_minimal/README.md
  pipelines/training/lora_minimal/__init__.py
  pipelines/training/lora_minimal/metadata.yaml
  pipelines/training/lora_minimal/pipeline.py
  pipelines/training/lora_minimal/tests/__init__.py
  pipelines/training/lora_minimal/tests/test_pipeline.py
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

fix: fix eval component error
  components/evaluation/lm_eval/component.py
  components/training/finetuning/component.py
  components/training/finetuning_algorithms/shared/finetuning_utils.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: update readme files
  components/training/finetuning_algorithms/lora/README.md
  components/training/finetuning_algorithms/osft/README.md
  components/training/finetuning_algorithms/sft/README.md
  pipelines/training/finetuning/lora/README.md
  pipelines/training/finetuning/lora_minimal/README.md
Due: validate-readme, markdownlint

feat: Split training component into component per algorithm
  components/training/osft/OWNERS
  components/training/osft/README.md
  components/training/osft/__init__.py
  components/training/osft/component.py
  components/training/osft/metadata.yaml
  components/training/osft/tests/__init__.py
  components/training/osft/tests/test_component_unit.py
  components/training/sft/OWNERS
  components/training/sft/README.md
  components/training/sft/__init__.py
  components/training/sft/component.py
  components/training/sft/metadata.yaml
  components/training/sft/tests/__init__.py
  components/training/sft/tests/test_component_unit.py
  components/training/shared/ADDING_COMPONENTS.md
  components/training/shared/__init__.py
  components/training/shared/finetuning_utils.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

fix: use sentinel defaults for temperature/max_tokens to respect flow YAML
  components/sdg/sdg_hub/README.md
  components/sdg/sdg_hub/component.py
  components/sdg/sdg_hub/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

docs: fix stale test data path reference in README
  components/data_processing/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

refactor: move example_pipelines from components/ to pipelines/sdg/
  pipelines/sdg/__init__.py
  pipelines/sdg/example_pipelines.py
Due: ruff-format, ruff-check, import-guard

fix: version-pin sdg-hub dependency to >=0.7.0,<1.0
  components/sdg/sdg_hub/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

docs: inline architecture doc into README and align with current implementation
  components/sdg/ARCHITECTURE.md
  components/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

refactor: move sdg component to components/data_processing/sdg/sdg_hub/
  components/data_processing/sdg/__init__.py
  components/data_processing/sdg/sdg_hub/OWNERS
  components/data_processing/sdg/sdg_hub/README.md
  components/data_processing/sdg/sdg_hub/__init__.py
  components/data_processing/sdg/sdg_hub/component.py
  components/data_processing/sdg/sdg_hub/metadata.yaml
  components/data_processing/sdg/sdg_hub/run_local.py
  components/data_processing/sdg/sdg_hub/tests/__init__.py
  components/data_processing/sdg/sdg_hub/tests/test_component_local.py
  components/data_processing/sdg/sdg_hub/tests/test_component_unit.py
  pipelines/sdg/example_pipelines.py
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

fix: gracefully handle invalid log_level with fallback to INFO
  components/data_processing/sdg/sdg_hub/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

docs: add OpenShift AI pipeline submission guide to README
  components/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

fix: wrap run_local.py execution in __main__ guard
  components/data_processing/sdg/sdg_hub/shared/run_local.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix: use absolute import in example_pipelines for validate_examples compatibility
  components/sdg/sdg_hub/example_pipelines.py
Due: ruff-format, ruff-check, import-guard, validate-readme

feat: enable optional Input[Dataset]
  components/sdg/sdg_hub/run_local.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix: remove per-component requirements-test.txt auto-install from test runner
  components/sdg/sdg_hub/requirements-test.txt
  docs/CONTRIBUTING.md
  scripts/tests/run_component_tests.py
Due: ruff-format, ruff-check, validate-readme, markdownlint

fix: switch metrics output to KFP log_metric() API
  components/sdg/sdg_hub/component.py
  components/sdg/sdg_hub/tests/test_component_local.py
  components/sdg/sdg_hub/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

test
  test.txt
Due: none

ci: Refactor workflow trust checks and streamline bot handling
  .github/workflows/gh-workflow-approve.yml
Due: yamllint

ci: Trust Dependabot for CI checks and improve bot handling
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
  .github/workflows/ci-checks.yml
  .github/workflows/gh-workflow-approve.yml
Due: ruff-format, ruff-check, yamllint

ci: Add support for ignoring specific CI checks in workflows
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
  .github/workflows/ci-checks.yml
Due: ruff-format, ruff-check, yamllint

ci: Trim whitespace from `--ignore-checks` input
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
Due: ruff-format, ruff-check
