Repository kubeflow/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

uv-lock-check:
  name: uv lock check
  entry: uv lock --check
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix --force-exclude
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  ...

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

don't run pull request konflux pipeline on every PR
  .tekton/odh-pipelines-components-on-pull-request.yaml
Due: yamllint

ci: Update actions to pinned versions in workflows
  .github/actions/detect-changed-assets/action.yml
  .github/actions/setup-python-ci/action.yml
  .github/workflows/add-ci-passed-label.yml
  .github/workflows/base-image-check.yml
  .github/workflows/build-packages.yml
  .github/workflows/ci-checks.yml
  .github/workflows/compile-and-deps.yml
  .github/workflows/component-pipeline-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/gh-workflow-approve.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/package-entries-check.yml
  .github/workflows/python-lint.yml
  .github/workflows/readme-check.yml
  .github/workflows/scripts-tests.yml
  .github/workflows/validate-metadata-schema.yml
  .github/workflows/yaml-lint.yml
Due: yamllint

ci: Refactor environment variable usage in workflows
  .github/workflows/ci-checks.yml
  .github/workflows/container-build.yml
Due: yamllint

ci: Fix variable usage and quoting in `container-build.yml`
  .github/workflows/container-build.yml
Due: yamllint

ci: Remove workflow branch filters so CI runs on all target branches
  .github/workflows/base-image-check.yml
  .github/workflows/build-packages.yml
  .github/workflows/compile-and-deps.yml
  .github/workflows/component-pipeline-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/package-entries-check.yml
  .github/workflows/python-lint.yml
  .github/workflows/readme-check.yml
  .github/workflows/scripts-tests.yml
  .github/workflows/validate-metadata-schema.yml
  .github/workflows/yaml-lint.yml
Due: yamllint

ci: add check_container_build_matrix script and unit tests
  .github/scripts/check_container_build_matrix/__init__.py
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/__init__.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
Due: ruff-format, ruff-check

ci: add container-build-matrix-check workflow
  .github/workflows/container-build-matrix-check.yml
Due: yamllint

ci: add .container-build-ignore exclusion file
  .container-build-ignore
Due: none

ci: address Copilot review comments
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
  .github/workflows/container-build-matrix-check.yml
Due: ruff-format, ruff-check, yamllint

ci: remove .container-build-ignore file
  .container-build-ignore
Due: none

ci: address review comments in check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
Due: ruff-format, ruff-check

ci: address review comments in container-build-matrix-check.yml
  .github/workflows/container-build-matrix-check.yml
Due: yamllint

ci: remove emoji from workflow-not-found error message
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
Due: ruff-format, ruff-check

ci: address Copilot review comments
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/workflows/container-build-matrix-check.yml
Due: ruff-format, ruff-check, yamllint

reducing the size of agents.md file and adding claude.md file
  AGENTS.md
Due: markdownlint

fixing cyclic dependency in check ci status
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
  .github/workflows/ci-checks.yml
Due: ruff-format, ruff-check, yamllint

ci: fix ruff formatting
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
Due: ruff-format, ruff-check

ci: Ignore `OWNERS` file changes in workflow triggers
  .github/workflows/base-image-check.yml
  .github/workflows/build-packages.yml
  .github/workflows/compile-and-deps.yml
  .github/workflows/component-pipeline-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/package-entries-check.yml
  .github/workflows/python-lint.yml
  .github/workflows/readme-check.yml
  .github/workflows/scripts-tests.yml
  .github/workflows/validate-metadata-schema.yml
  .github/workflows/yaml-lint.yml
Due: yamllint

ci: address hbelmiro review comments
  .github/workflows/container-build-matrix-check.yml
Due: yamllint

chore: Update OWNERS files with current team roster
  .github/OWNERS
  components/data_processing/yoda_data_processor/OWNERS
  docs/OWNERS
  scripts/OWNERS
  test_data/OWNERS
  test_data/components/grouped/ml_models/linear_model/OWNERS
  test_data/pipelines/grouped/etl_flows/daily_ingest/OWNERS
Due: validate-readme, validate-metadata

ci: Remove `OWNERS` file exclusion from `readme-check.yml` paths-ignore
  .github/workflows/readme-check.yml
Due: yamllint

ci: Remove `OWNERS` file exclusion from `readme-check.yml` paths-ignore (#163)
  .github/workflows/readme-check.yml
Due: yamllint

fix: cleanup and improve initial pipeline components (RHOAIENG-52443)
  components/data_processing/dataset_download/component.py
  components/deployment/kubeflow_model_registry/component.py
  components/evaluation/lm_eval/component.py
  components/training/finetuning/lora/component.py
  components/training/finetuning/osft/component.py
  components/training/finetuning/sft/component.py
  scripts/validate_base_images/base_image_allowlist.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

chore: Updated stale readme
  components/data_processing/yoda_data_processor/README.md
Due: validate-readme, markdownlint

chore: Updated stale readme (#178)
  components/data_processing/yoda_data_processor/README.md
Due: validate-readme, markdownlint

fix(ci): regenerate stale golden READMEs and trigger tests on test_data changes
  .github/workflows/scripts-tests.yml
  test_data/components/grouped/ml_models/linear_model/README.md
  test_data/pipelines/grouped/etl_flows/daily_ingest/README.md
Due: yamllint, markdownlint

fix(ci): regenerate stale golden READMEs and trigger tests on test_data changes (#182)
  .github/workflows/scripts-tests.yml
  test_data/components/grouped/ml_models/linear_model/README.md
  test_data/pipelines/grouped/etl_flows/daily_ingest/README.md
Due: yamllint, markdownlint

test metadata.yaml files' required `lastVerified` field mocked millennium forward so that test cases do not fail
  scripts/validate_metadata/test_data/metadata/invalid/invalid_ci.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_ci_category.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_ci_dependency_probe.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_dependencies_category.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_dependencies_type.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_dependency_semantic_versioning.yaml
  scripts/validate_metadata/test_data/metadata/invalid/invalid_tag_array_type.yaml
  scripts/validate_metadata/test_data/metadata/valid/custom_links_category.yaml
  scripts/validate_metadata/test_data/metadata/valid/excluding_ci.yaml
  scripts/validate_metadata/test_data/metadata/valid/excluding_ci_dependency_probe.yaml
  scripts/validate_metadata/test_data/metadata/valid/excluding_ext_dependencies.yaml
  scripts/validate_metadata/test_data/metadata/valid/excluding_links.yaml
  scripts/validate_metadata/test_data/metadata/valid/excluding_tags.yaml
  scripts/validate_metadata/test_data/metadata/valid/missing_ci_dependency_probe.yaml
  scripts/validate_metadata/test_data/metadata/valid/valid_metadata.yaml
Due: yamllint

fixup! updated project's lockfile
  uv.lock
Due: uv-lock-check

components/pipelines metadata.yaml validation scripts refactored to use jsonschema; deleted semver dependency
  pyproject.toml
  scripts/validate_metadata/validate_metadata.py
  scripts/validate_metadata/validate_metadata_test.py
Due: uv-lock-check, ruff-format, ruff-check

fixup! test metadata.yaml files' required `lastVerified` field mocked millennium forward so that test cases do not fail
  scripts/validate_metadata/test_data/metadata/invalid/missing_kfp_dependency.yaml
Due: yamllint

updated project's lockfile
  uv.lock
Due: uv-lock-check

introduced changes pointed out in PR review, mostly: changed schema loading; fixed typos
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check

fixup! introduced changes pointed out in PR review, mostly: changed schema loading; fixed typos
  AGENTS.md
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check, markdownlint

introduced jsonschema for metadata.yaml file (req for each compoennt/pipeline)
  scripts/validate_metadata/metadata_schema.json
Due: none

add back `experimental` stability value; rm `managed` and `description` fields; related tests changes + add mistakenly deleted test case
  scripts/validate_metadata/metadata_schema.json
  scripts/validate_metadata/validate_metadata_test.py
Due: ruff-format, ruff-check

fixup! fixup! test metadata.yaml files' required `lastVerified` field mocked millennium forward so that test cases do not fail
  scripts/validate_metadata/test_data/metadata/invalid/missing_kfp_dependency.yaml
Due: yamllint

added rfc3339-validator test dependecy for timestamp checking; regenerated lockfile
  pyproject.toml
  uv.lock
Due: uv-lock-check

Path conditions:
  uv-lock-check: any of: (^pyproject\.toml$|^uv\.lock$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/[^/]+(/[^/]+)?/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/.+/(component|pipeline)\.py$
