Repository kubeflow/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

uv-lock-check:
  name: uv lock check
  entry: uv lock --check
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix --force-exclude
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  ...

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

Fix ruff: remove unused import, add test docstrings
  scripts/lib/tests/test_kfp_compilation.py
Due: ruff-format, ruff-check

Handle pipeline spec and platform spec separately for base image validation
  scripts/lib/base_image.py
  scripts/lib/kfp_compilation.py
  scripts/lib/tests/test_kfp_compilation.py
  scripts/validate_base_images/validate_base_images.py
Due: ruff-format, ruff-check

Support multi-document compiled YAML (pipeline + platform spec)
  scripts/lib/kfp_compilation.py
  scripts/lib/tests/test_kfp_compilation.py
Due: ruff-format, ruff-check

Classify two-doc YAML by content only; raise when ambiguous
  scripts/lib/kfp_compilation.py
  scripts/lib/tests/test_kfp_compilation.py
Due: ruff-format, ruff-check

Refactor multi-doc YAML load for testability and address review
  scripts/lib/base_image.py
  scripts/lib/kfp_compilation.py
  scripts/lib/tests/test_kfp_compilation.py
  scripts/validate_base_images/tests/test_validate_base_images.py
Due: ruff-format, ruff-check

Validate compiled YAML: filter to dicts, raise clear error when none
  scripts/lib/kfp_compilation.py
Due: ruff-format, ruff-check

feat: sdg component design
  components/sdg/ARCHITECTURE.md
Due: markdownlint

feat: implement SDG Hub KFP component
  components/sdg/__init__.py
  components/sdg/sdg_hub/OWNERS
  components/sdg/sdg_hub/README.md
  components/sdg/sdg_hub/__init__.py
  components/sdg/sdg_hub/component.py
  components/sdg/sdg_hub/example_pipelines.py
  components/sdg/sdg_hub/metadata.yaml
  components/sdg/sdg_hub/run_local.py
  components/sdg/sdg_hub/tests/__init__.py
  components/sdg/sdg_hub/tests/test_component_local.py
  components/sdg/sdg_hub/tests/test_component_unit.py
  pyproject.toml
  test_data/sdg_hub/llm_test_flow.yaml
  test_data/sdg_hub/prompts/generate_question.yaml
  test_data/sdg_hub/sample_input.jsonl
  test_data/sdg_hub/transform_test_flow.yaml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

Support multi-document compiled YAML (pipeline + platform spec) (#100)
  scripts/lib/base_image.py
  scripts/lib/kfp_compilation.py
  scripts/lib/tests/test_kfp_compilation.py
  scripts/validate_base_images/tests/test_validate_base_images.py
  scripts/validate_base_images/validate_base_images.py
Due: ruff-format, ruff-check

chore: Add `setup-uv` action to `detect_changed_assets` workflow steps
  .github/actions/detect-changed-assets/action.yml
Due: yamllint

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: markdownlint

Rebase
  scripts/compile_check/compile_check.py
Due: ruff-format, ruff-check

Update .github/actions/detect-changed-assets/README.md
  .github/actions/detect-changed-assets/README.md
Due: markdownlint

fix: address compile-check follow-up review
  .github/workflows/compile-and-deps.yml
  pyproject.toml
  scripts/compile_check/compile_check.py
  scripts/compile_check/tests/__init__.py
  scripts/compile_check/tests/test_compile_check.py
  scripts/lib/metadata_utils.py
  scripts/lib/tests/test_metadata_utils.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, yamllint

Add compile check tooling and CI workflow (#13)
  .github/workflows/compile-and-deps.yml
  docs/CONTRIBUTING.md
  scripts/compile_check/__init__.py
  scripts/compile_check/compile_check.py
  scripts/compile_check/tests/test_compile_check.py
  scripts/lib/metadata_utils.py
  scripts/lib/tests/test_metadata_utils.py
Due: ruff-format, ruff-check, yamllint, markdownlint

test: Add unit tests for `GitClient.fetch_branch` and handle `origin/HEAD` case in `detect_changed_assets`
  .github/scripts/detect_changed_assets/__init__.py
  .github/scripts/detect_changed_assets/detect.py
  .github/scripts/detect_changed_assets/tests/__init__.py
  .github/scripts/detect_changed_assets/tests/test_detect.py
Due: ruff-format, ruff-check

fix README
  components/training/README.md
  components/training/automl/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
Due: validate-readme, markdownlint

improve REAMEs
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_train_test_split/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/component.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

fix: version-pin sdg-hub dependency to >=0.7.0,<1.0
  components/sdg/sdg_hub/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix spaces between auto content and custom content
  scripts/generate_readme/writer.py
Due: ruff-format, ruff-check

fix caategory readme template
  scripts/generate_readme/templates/CATEGORY_README.md.j2
Due: none

fix: update README example Artifact class with log_metric() support
  components/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

refactor: use per-component requirements-test.txt for test dependencies
  components/sdg/sdg_hub/requirements-test.txt
  pyproject.toml
  scripts/tests/run_component_tests.py
Due: uv-lock-check, ruff-format, ruff-check, validate-readme

regenerate automl pipeline yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

remove leaderboard section from notebooks
  components/training/automl/autogluon_models_full_refit/component.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

add metrics section to notebooks
  components/training/automl/autogluon_models_full_refit/component.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

fix(sync_packages): use ReDoS-safe regex for finding packages block
  scripts/sync_packages/sync_packages.py
Due: ruff-format, ruff-check

chore: sync READMEs and allow parent-only package entries
  components/deployment/kubeflow_model_registry/README.md
  components/evaluation/lm_eval/README.md
  components/training/finetuning/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft_minimal/README.md
  pipelines/training/sft/README.md
  pipelines/training/sft_minimal/README.md
  scripts/validate_package_entries/tests/test_validate_package_entries.py
  scripts/validate_package_entries/validate_package_entries.py
Due: ruff-format, ruff-check, validate-readme, markdownlint

fill in OWNERS file
  components/data_processing/automl/tabular_data_loader/OWNERS
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/data_processing/automl/tabular_train_test_split/README.md
  components/training/automl/autogluon_leaderboard_evaluation/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_models_full_refit/OWNERS
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_selection/OWNERS
  components/training/automl/autogluon_models_selection/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
Due: validate-readme, markdownlint, validate-metadata

improve metadata files
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/metadata.yaml
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/automl/tabular_train_test_split/metadata.yaml
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/metadata.yaml
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/metadata.yaml
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/metadata.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
Due: yamllint, validate-readme, markdownlint, validate-metadata

ci: Update approval workflow with extended author associations checks
  .github/workflows/gh-workflow-approve.yml
Due: yamllint

ci: Reset 'ci-passed' label on PR updates to maintain accurate CI status
  .github/workflows/ci-checks.yml
Due: yamllint

ci: Refactor CI label check logic to handle combined label conditions more effectively
  .github/workflows/ci-checks.yml
Due: yamllint

ci: Remove redundant checkout step from CI label workflow
  .github/workflows/ci-checks.yml
Due: yamllint

improve OWNERS files, add part of the fixes after copilot review
  components/data_processing/automl/OWNERS
  components/data_processing/automl/tabular_data_loader/OWNERS
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/automl/tabular_train_test_split/component.py
  components/training/automl/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_models_full_refit/OWNERS
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_selection/OWNERS
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/component.py
  pipelines/training/automl/OWNERS
  pipelines/training/automl/__init__.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

refactor replacing values in notebook template
  components/training/automl/autogluon_models_full_refit/component.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

remove approver that is not member of org
  components/data_processing/automl/OWNERS
  components/data_processing/automl/tabular_data_loader/OWNERS
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/data_processing/automl/tabular_train_test_split/README.md
  components/training/automl/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_models_full_refit/OWNERS
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_selection/OWNERS
  components/training/automl/autogluon_models_selection/README.md
  pipelines/training/automl/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
Due: validate-readme, markdownlint, validate-metadata

improve READMEs and fix version of kubeflow pipelines service for autml components
  components/data_processing/automl/tabular_data_loader/component.py
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/metadata.yaml
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/metadata.yaml
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/metadata.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

Path conditions:
  uv-lock-check: any of: (^pyproject\.toml$|^uv\.lock$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/[^/]+(/[^/]+)?/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/.+/(component|pipeline)\.py$
