Repository kubeflow/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock check
        entry: uv lock --check
        language: system
        files: (^pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        # --force-exclude respects pyproject.toml excludes when files are passed directly
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        # --force-exclude respects pyproject.toml excludes when files are passed directly
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          asset_dirs="";
          for file in "$@"; do
            d=$(dirname "$file");
            while [[ "$d" == components/* || "$d" == pipelines/* ]]; do
              if [ -f "$d/component.py" ] || [ -f "$d/pipeline.py" ]; then
                asset_dirs="$asset_dirs $d";
                break;
              fi;
              d=$(dirname "$d");
            done;
          done;
          asset_dirs=$(echo "$asset_dirs" | xargs -n1 2>/dev/null | sort -u | xargs);
          if [ -n "$asset_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $asset_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          asset_dirs="";
          for file in "$@"; do
            dir=$(dirname "$file");
            if [[ "$dir" == components/*/* || "$dir" == pipelines/*/* ]]; then
              asset_dirs="$asset_dirs $dir";
            fi;
          done;
          asset_dirs=$(echo "$asset_dirs" | xargs -n1 2>/dev/null | sort -u | xargs);
          for dir in $asset_dirs; do
            echo "Validating metadata for $dir";
            uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+(/[^/]+)?/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            dir=$(dirname "$file");
            if [[ "$file" == components/*/component.py ]]; then
              components+=("--component" "$dir");
            elif [[ "$file" == pipelines/*/pipeline.py ]]; then
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/.+/(component|pipeline)\.py$

ci: Switch workflows to `pull_request_target` for event triggers
  .github/workflows/ci-checks.yml
  .github/workflows/gh-workflow-approve.yml
Due: yamllint

fix: remove custom base_image to use KFP default python:3.11
  components/data_processing/sdg/sdg_hub/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: remove __init__.py from shared/ to exclude it from package validation
  components/data_processing/sdg/sdg_hub/shared/__init__.py
Due: ruff-format, ruff-check, import-guard, validate-readme

ci: Add support for ignoring specific CI checks in workflows
  .github/scripts/ci_checks/ci_checks.py
  .github/scripts/ci_checks/tests/test_ci_checks.py
  .github/workflows/ci-checks.yml
Due: ruff-format, ruff-check, yamllint

pull-request
  .github/workflows/ci-checks.yml
  .github/workflows/gh-workflow-approve.yml
Due: yamllint

fix: update kfp_kubernetes import to kfp.kubernetes
  components/data_processing/sdg/sdg_hub/README.md
  pipelines/data_processing/sdg/sdg_hub/example_pipelines.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

ci: add check_container_build_matrix script and unit tests
  .github/scripts/check_container_build_matrix/__init__.py
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/__init__.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
Due: ruff-format, ruff-check

ci: add container-build-matrix-check workflow
  .github/workflows/container-build-matrix-check.yml
Due: yamllint

ci: add .container-build-ignore exclusion file
  .container-build-ignore
Due: none

fix: add OWNERS file to sdg subcategory directory
  components/data_processing/sdg/OWNERS
Due: validate-readme, validate-metadata

fix: fix YAML indentation and add document-start markers for yamllint
  components/data_processing/sdg/sdg_hub/tests/test_data/llm_test_flow.yaml
  components/data_processing/sdg/sdg_hub/tests/test_data/prompts/generate_question.yaml
  components/data_processing/sdg/sdg_hub/tests/test_data/transform_test_flow.yaml
Due: yamllint, validate-readme

ci: address Copilot review comments
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
  .github/workflows/container-build-matrix-check.yml
Due: ruff-format, ruff-check, yamllint

chore: Add training logs to pipeline training container
  components/training/finetuning_algorithms/shared/tests/__init__.py
  components/training/finetuning_algorithms/shared/tests/test_training.py
  components/training/finetuning_algorithms/shared/training.py
Due: ruff-format, ruff-check, import-guard, validate-readme

docs: fix markdown lint errors in READMEs and architecture doc
  components/data_processing/README.md
  components/data_processing/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

docs: regenerate pipeline READMEs to sync with CI validation
  pipelines/data_processing/README.md
  pipelines/data_processing/sdg/README.md
  pipelines/data_processing/sdg/sdg_hub/README.md
Due: validate-readme, markdownlint

refactor: flatten sdg component and pipeline directory structure
  components/data_processing/README.md
  components/data_processing/sdg/README.md
  components/data_processing/sdg/component.py
  components/data_processing/sdg/metadata.yaml
  components/data_processing/sdg/sdg_hub/OWNERS
  components/data_processing/sdg/sdg_hub/README.md
  components/data_processing/sdg/sdg_hub/__init__.py
  components/data_processing/sdg/sdg_hub/tests/__init__.py
  components/data_processing/sdg/shared/run_local.py
  components/data_processing/sdg/tests/__init__.py
  components/data_processing/sdg/tests/test_component_local.py
  components/data_processing/sdg/tests/test_component_unit.py
  components/data_processing/sdg/tests/test_data/llm_test_flow.yaml
  components/data_processing/sdg/tests/test_data/prompts/generate_question.yaml
  components/data_processing/sdg/tests/test_data/sample_input.jsonl
  components/data_processing/sdg/tests/test_data/transform_test_flow.yaml
  pipelines/data_processing/README.md
  pipelines/data_processing/sdg/README.md
  pipelines/data_processing/sdg/metadata.yaml
  pipelines/data_processing/sdg/pipeline.py
  pipelines/data_processing/sdg/sdg_hub/OWNERS
  pipelines/data_processing/sdg/sdg_hub/README.md
  pipelines/data_processing/sdg/test_data/llm_test_flow.yaml
  pipelines/data_processing/sdg/test_data/prompts/generate_question.yaml
  pyproject.toml
Due: uv-lock-check, ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

fix: rename test_data to tests/data and use kfp.kubernetes import path
  pipelines/data_processing/sdg/pipeline.py
  pipelines/data_processing/sdg/tests/data/llm_test_flow.yaml
  pipelines/data_processing/sdg/tests/data/prompts/generate_question.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

fix: align stability to beta and lastVerified dates across component and pipeline
  components/data_processing/sdg/README.md
  components/data_processing/sdg/metadata.yaml
  pipelines/data_processing/sdg/README.md
  pipelines/data_processing/sdg/metadata.yaml
Due: yamllint, validate-readme, markdownlint, validate-metadata

test base image from catalog.redhat.com
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: validate-readme

fix: use kfp_components namespace import and remove unnecessary import exceptions
  .github/scripts/check_imports/import_exceptions.yaml
  pipelines/data_processing/sdg/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

fix: fix import sorting in pipeline.py
  pipelines/data_processing/sdg/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

chore: fix autox rag readmes (#70)
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_indexing/README.md
  components/training/autorag/rag_templates_optimization/README.md
Due: validate-readme, markdownlint

resolve ruff check
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix expected errors in tabular_data_loader tests
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

automl components input parameters validation
  components/data_processing/automl/tabular_data_loader/component.py
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/test_component_unit.py
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
  components/training/automl/autogluon_models_selection/component.py
  components/training/automl/autogluon_models_selection/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: add fallback for ssl error when downloading data from s3 (#82)
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/documents_discovery/tests/test_component_unit.py
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/test_data_loader/tests/test_component_unit.py
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: use None default for runtime_params to avoid mutable default argument
  components/data_processing/sdg/component.py
  components/data_processing/sdg/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: derive PVC export flow_name from the actually-selected flow source
  components/data_processing/sdg/component.py
  components/data_processing/sdg/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: use specific exception types in invalid model test
  components/data_processing/sdg/tests/test_component_local.py
Due: ruff-format, ruff-check, import-guard, validate-readme

docs: fix pipeline overview to avoid collapsed numbered list in README
  pipelines/data_processing/sdg/README.md
  pipelines/data_processing/sdg/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

docs: regenerate component README to sync with CI
  components/data_processing/sdg/README.md
Due: validate-readme, markdownlint

style: missing docstring in generate_managed_pipelines script
  scripts/generate_managed_pipelines/generate_managed_pipelines.py
Due: ruff-format, ruff-check

Autox improve documents indexing pipeline (#73)
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/example_pipelines.py
  components/data_processing/automl/timeseries_data_loader/README.md
  components/data_processing/automl/timeseries_data_loader/example_pipelines.py
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/documents_discovery/example_pipelines.py
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/documents_indexing/__init__.py
  components/data_processing/autorag/documents_indexing/example_pipelines.py
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/test_data_loader/example_pipelines.py
  components/data_processing/autorag/text_extraction/README.md
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/example_pipelines.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  components/deployment/autorag/build_responses_request_bodies/README.md
  components/deployment/autorag/build_responses_request_bodies/__init__.py
  components/deployment/autorag/build_responses_request_bodies/example_pipelines.py
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/example_pipelines.py
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_timeseries_leaderboard_evaluation/README.md
  components/training/automl/autogluon_timeseries_models_full_refit/README.md
  components/training/automl/autogluon_timeseries_models_full_refit/example_pipelines.py
  components/training/automl/autogluon_timeseries_models_selection/README.md
  components/training/automl/autogluon_timeseries_models_selection/example_pipelines.py
  components/training/autorag/leaderboard_evaluation/README.md
  components/training/autorag/leaderboard_evaluation/example_pipelines.py
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/example_pipelines.py
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/example_pipelines.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

updated an approver github user name
  pipelines/training/automl/autogluon_timeseries_training_pipeline/OWNERS
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
Due: validate-readme, markdownlint, validate-metadata

fix: update autogluon dependencies to 1.5.0+rhaiv.1 (#102)
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Text Extraction: Fall back to HuggingFace model download when local artifacts are missing (#105)
  components/data_processing/autorag/text_extraction/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

updated README file for a component
  components/deployment/README.md
Due: markdownlint

add compiled pipelines for autox (#113)
  .gitignore
  .yamllint.yml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

workaround: use pypi pypdfium2 (#112)
  .tekton/odh-autorag-on-pull-request.yaml
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi-whl.txt
Due: yamllint, validate-readme
